anonymous_enable={{ vsftpd_anonymous_enable }}
anon_umask={{ vsftpd_anon_umask }}
local_enable={{ vsftpd_local_enable }}
write_enable={{ vsftpd_write_enable }}
local_umask={{ vsftpd_local_umask }}
anon_upload_enable={{ vsftpd_anon_upload_enable }}
file_open_mode={{ vsftpd_file_open_mode }}
chown_uploads={{ vsftpd_chown_uploads }}
chown_username={{ vsftpd_chown_username }}
chown_upload_mode={{ vsftpd_chown_upload_mode }}
listen={{ vsftpd_listen }}
listen_ipv6={{ vsftpd_listen_ipv6 }}
download_enable={{ vsftpd_download_enable }}
connect_from_port_20={{ vsftpd_connect_from_port_20 }}
dirmessage_enable={{ vsftpd_dirmessage_enable }}
xferlog_enable={{ vsftpd_xferlog_enable }}
pam_service_name={{ vsftpd_pam_service_name }}
